* {
  padding: 0;
  margin: 0;
}
#root {
  background-color: #f4f9fc;
  padding: 0 10%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  width: 230px;
  height: 80px;
}
.header .header__saldo {
  padding: 5px 10px;
  border: 1px solid #b3cadc;
  border-radius: 4px;
  color: #6c717a;
  font-size: 20px;
}
.navigation .navigation__tabs-container {
  padding-left: 10px;
  display: flex;
  gap: 5px;
}
.navigation .navigation__tabs-container .navigation__panel,
.navigation .navigation__tabs-container .navigation__do-wyslania {
  padding: 10px 15px;
  background-color: #689cca;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px 8px 0 0;
}
.navigation .navigation__tabs-container .navigation__panel .navigation__text,
.navigation .navigation__tabs-container .navigation__do-wyslania .navigation__text {
  color: #ffffff;
}
.navigation .navigation__tabs-container .navigation__panel .navigation__icon,
.navigation .navigation__tabs-container .navigation__do-wyslania .navigation__icon {
  width: 20px;
  height: 15px;
}
.navigation .navigation__underline-container {
  height: 25px;
}
.navigation .navigation__underline-container .navigation__upper-underline {
  height: 5px;
  background-color: #81b3db;
  border-radius: 8px 8px 0 0;
}
.navigation .navigation__underline-container .navigation__lower-underline {
  height: 10px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
}
.promotion {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
}
.promotion .promotion__strong {
  font-weight: bold;
}
.promotion .promotion__main-info {
  padding: 20px 10px;
  background-color: #f4f9fc;
  border-radius: 8px;
  margin-top: 10px;
  padding: 25px 25px 25px 290px;
}
.promotion .promotion__additional-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.promotion .promotion__additional-info-container .promotion__image {
  width: 200px;
  height: 260px;
  position: relative;
  top: -78px;
  left: 40px;
}
.promotion .promotion__additional-info-container .promotion__courier-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-fedex {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #e3e4e5;
  color: #4d148c;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-fedex span {
  color: #f47120;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-dpd {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #e61c4a;
  color: #fff;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-dhl {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #fc0;
  color: #c00;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-ups {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #693121;
  color: #fd0;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.verify-number {
  background-color: #ffffff;
  margin-top: 15px;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid rgba(4, 109, 180, 0.6);
}
.verify-number .verify-number__strong {
  font-weight: bold;
}
.verify-number .verify-number__container {
  display: flex;
  gap: 40px;
}
.verify-number .verify-number__container .verify-number__image {
  width: 150px;
  height: 150px;
}
.verify-number .verify-number__container .verify-number__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.verify-number .verify-number__container .verify-number__content .verify-number__button {
  color: #ffffff;
  width: fit-content;
  min-width: 120px;
  padding: 8px 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(4, 109, 180, 0.6);
  background-color: #1f96d1;
}
