@primary-theme: #689cca;
@secondary-theme: #81b3db;

@primary-background: #f4f9fc;
@secondary-background: #ffffff;

*{
  padding: 0;
  margin: 0;
}
#root{
  background-color: @primary-background;
  padding: 0 10%;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo{
    width: 230px;
    height: 80px;
  }
  .header__saldo{
    padding:5px 10px;
    border:1px solid #b3cadc;
    border-radius:4px;
    color: #6c717a;
    font-size: 20px;
    
  }
}
.navigation{
  .navigation__tabs-container{
    padding-left: 10px;
    display: flex;
    gap:5px;
    .navigation__panel, .navigation__do-wyslania{
      padding:10px 15px;
      background-color: @primary-theme;
      display: flex;
      align-items: center;
      gap:5px;
      border-radius: 8px 8px 0 0;
      .navigation__text{
          color:@secondary-background;
      }
      .navigation__icon{
        width: 20px;
        height: 15px;
      }
    }
    
  }
  .navigation__underline-container{
    height: 25px;
    .navigation__upper-underline{
      height: 5px;
      background-color: @secondary-theme;
      border-radius: 8px 8px 0 0;
    }
    .navigation__lower-underline{
      height: 10px;
      background-color: @secondary-background;
      border-radius: 0 0 8px 8px;
    }
  }
}
.dashboard{
  .dashboard__main-container{

  }
}
.promotion {
  background-color: @secondary-background;
  padding: 25px;
  border-radius: 8px;
  .promotion__main-info{
    padding: 20px 10px;
    background-color: @primary-background;
    border-radius: 8px;
    margin-top: 10px;
    padding: 25px 25px 25px 290px;
  }
  .promotion__additional-info-container{
    display: flex;
    justify-content: space-between;
    .promotion__image{
      width: 200px;
      height: 260px;
      position: relative;
      top: -38px;
      left: 40px;
    }
  }
}