@primary-theme: #689cca;
@secondary-theme: #81b3db;

@primary-background: #f4f9fc;
@secondary-background: #ffffff;


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:red;
}
