@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
}
#root {
  background-color: #f4f9fc;
  padding: 0 15%;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px!important;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo {
  width: 180px;
  height: 60px;
}
.header .header__saldo {
  padding: 5px 10px;
  border: 1px solid #b3cadc;
  border-radius: 4px;
  color: #6c717a;
  font-size: 20px;
}
.header .header__saldo:hover {
  border: 1px solid #1f96d1;
  color: #1f96d1;
  font-size: 20px;
}
.navigation .navigation__tabs-container {
  padding-left: 10px;
  display: flex;
  position: relative;
}
.navigation .navigation__tabs-container .navigation__panel,
.navigation .navigation__tabs-container .navigation__do-wyslania {
  padding: 10px 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px 8px 0 0;
}
.navigation .navigation__tabs-container .navigation__panel .navigation__text,
.navigation .navigation__tabs-container .navigation__do-wyslania .navigation__text {
  color: #689cca;
}
.navigation .navigation__tabs-container .navigation__panel .navigation__icon,
.navigation .navigation__tabs-container .navigation__do-wyslania .navigation__icon {
  width: 20px;
  height: 15px;
}
.navigation .navigation__tabs-container .navigation__panel--active,
.navigation .navigation__tabs-container .navigation__do-wyslania--active {
  background-color: #689cca;
}
.navigation .navigation__tabs-container .navigation__panel--active .navigation__text,
.navigation .navigation__tabs-container .navigation__do-wyslania--active .navigation__text {
  color: #ffffff;
}
.navigation .navigation__tabs-container .navigation__panel:hover,
.navigation .navigation__tabs-container .navigation__do-wyslania:hover {
  background: linear-gradient(180deg, #6EA6D6 20.31%, #6696BF 100%);
}
.navigation .navigation__underline-container {
  height: 25px;
}
.navigation .navigation__underline-container .navigation__upper-underline {
  height: 5px;
  background-color: #689cca;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 32px rgba(6, 83, 146, 0.04), 0 0 0 1px #e7eff6;
}
.navigation .navigation__underline-container .navigation__lower-underline {
  height: 10px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
}
.dashboard {
  display: flex;
  gap: 15px;
}
.dashboard .dashboard__main-container {
  width: 70%;
}
.promotion {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 8px;
  height: fit-content;
  box-shadow: 0 2px 32px rgba(6, 83, 146, 0.04), 0 0 0 1px #e7eff6;
}
.promotion .promotion__strong {
  font-weight: bold;
}
.promotion .promotion__main-info {
  text-align: justify;
  background-color: #f4f9fc;
  border-radius: 8px;
  margin-top: 10px;
  padding: 25px 25px 25px 290px;
  line-height: 1.4rem;
}
.promotion .promotion__additional-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.promotion .promotion__additional-info-container .promotion__image-container {
  width: 220px;
}
.promotion .promotion__additional-info-container .promotion__image-container .promotion__image {
  width: 160px;
  height: 220px;
  position: relative;
  top: -110px;
  left: 40px;
}
.promotion .promotion__additional-info-container .promotion__savings {
  text-align: justify;
  word-break: normal;
  width: 40%;
}
.promotion .promotion__additional-info-container .promotion__courier-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-fedex {
  padding: 2px 10px;
  margin: 8px 0;
  background-color: #e3e4e5;
  color: #4d148c;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-fedex span {
  color: #f47120;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-dpd {
  padding: 2px 10px;
  margin: 5px 0;
  background-color: #e61c4a;
  color: #fff;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-dhl {
  padding: 2px 10px;
  margin: 5px 0;
  background-color: #fc0;
  color: #c00;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.promotion .promotion__additional-info-container .promotion__courier-container .promotion__courier-ups {
  padding: 2px 10px;
  margin: 5px 0;
  background-color: #693121;
  color: #fd0;
  text-align: center;
  width: 40px;
  border-radius: 4px;
}
.verify-number {
  background-color: #ffffff;
  margin-top: 15px;
  padding: 25px;
  border-radius: 8px;
  border: 2px solid rgba(4, 109, 180, 0.6);
  box-shadow: 0 2px 32px rgba(6, 83, 146, 0.04), 0 0 0 1px #e7eff6;
}
.verify-number .verify-number__strong {
  font-weight: bold;
}
.verify-number .verify-number__container {
  display: flex;
  gap: 40px;
}
.verify-number .verify-number__container .verify-number__image {
  width: 150px;
  height: 150px;
}
.verify-number .verify-number__container .verify-number__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.verify-number .verify-number__container .verify-number__content .verify-number__button {
  color: #ffffff;
  width: fit-content;
  min-width: 120px;
  padding: 8px 18px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(4, 109, 180, 0.6);
  background-color: #1f96d1;
}
.verify-number .verify-number__container .verify-number__content .verify-number__button:hover {
  background: #1ea3e6;
  cursor: pointer;
}
.dashboard__side-container {
  height: 100vh;
  width: 30%;
}
.dashboard__side-container .news {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 32px rgba(6, 83, 146, 0.04), 0 0 0 1px #e7eff6;
}
.dashboard__side-container .news .news-item {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  text-align: justify;
}
.dashboard__side-container .news .news-img {
  width: 50px;
  height: 50px;
}
.dashboard__side-container .news .news-text {
  word-break: normal;
}
.dashboard__side-container .news .news-text:hover {
  word-break: normal;
  color: #81b3db;
  cursor: pointer;
}
.dashboard__side-container .news .news__more {
  text-align: right;
}
.dashboard__side-container .news .news__more a {
  color: black;
}
.dashboard__side-container .news .news__more a:hover {
  color: #81b3db;
}
